*.o
*.~*
*.so.*
*.so
*.dylib
/config.sub
/config.log
/config.guess
/config.status
/config.h
/config.h.in
/stamp-h1
/libtool
*.a
*.la
*.lo
*_lex.h
*_lex.c
Sample?Lex.*
.deps/
.libs/
Makefile
Makefile.in
*.class
*.list
a?.uls
autom4te.cache/
/post_inst/uninst_info.txt
/doc/man/ulc2class.1
/doc/man/ulf_gen.1
/doc/man/uls_stream.1
/examples/Css3/Css3Toks
/examples/DumpToks/DumpToks
/examples/Html5/Html5Toks
/examples/Mkf/MkfToks
/examples/Natural/EngToks
/examples/Shell/ShellToks
/examples/test_1st/test_1st
/examples/tokseq/tokseq
/examples/yacc/ulc2xml
/tests/cpp_hello/cpp_hello
/tests/dump_toks/dump_toks
/tests/gcc_toks/gcc_toks
/tests/getch/getch
/tests/id_stat/id_stat
/tests/line/line_by_line
/tests/log/logging
/tests/many_kwrds/many_kwrds
/tests/nest/nest
/tests/strings/strings
/tests/tok_remap/tok_remap
/tests/two_lex/two_lex
/tests/wdump_toks/wdump_toks
/tools/ulc2class/ulc2class
/tools/ulf_gen/ulf_gen
/tools/uls_stream/uls_stream


