*.o
*.~*
*.so.*
*.dylib.*
*.so
/config.sub
/config.log
/config.guess
/config.status
/config.h
/config.h.in
/stamp-h1
/libtool
*.la
*.lo
*_lex.h
*_lex.c
Sample?Lex.*
.deps/
.libs/
Makefile
Makefile.in
*.class
*.list
*.bak
*.1
*.~*
a?.uls
autom4te.cache/
