uls_ver_major = 1
uls_ver_minor = 9
uls_ver_debug = 5
uls_ver = $(uls_ver_major).$(uls_ver_minor).$(uls_ver_debug)

so_current = 1
so_revision = 1
so_age = 0

ULS_SYSPROPS = /usr/local/etc/uls/uls.sysprops
TMP_SYSPROPS = /tmp/uls_sysprops.txt

ulc2class_exe = $(top_builddir)/tools/ulc2class/ulc2class
tests_libpath = $(top_builddir)/src:$(top_builddir)/ulscpp

